body, html
{
    height: 100%;
}

/*Esconder Scrollbar inicio*/
::-webkit-scrollbar{display: none;}
/*Esconder Scrollbar inicio*/

/*Background inicio*/
.background_img
{
    background-image: url(../Assets/chad_ground.jpg);
    background-color: blue;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*Background fim*/


/*Botões inicio*/
.chad_button_opition
{
    background-color: #6d6d6d;
    border: none;
    text-align: center;
    border-radius: 10px;
    width: 168px;
    height: 57px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 20px;
    text-decoration: none;
    
    /*Inicio Alinhar texto com flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Fim Alinhar texto com flex*/
}
.chad_button_opition:hover
{
    background-color: #fff;
    border: 1px solid #6d6d6d;
    color: black;
}
.chad_button_opition:active
{
    position: relative;
    transition: 0.01s;
    color: white;
}

.chad_button_return
{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
    border: 1.5px solid #000;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    transition: 0.4s;

    /*Inicio Alinhar texto com flex*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*Fim Alinhar texto com flex*/
}
.chad_button_return:hover
{
    transform: rotateY(360deg);
}
.chad_button_return:active
{
    position: relative;
    transition: 0.01s;
    color: white;
}
/*Botões fim*/


/*Editar Texto inicio*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
.chad_title_top
{
    font-size: 30px;
    font-family: 'Inter';
    font-weight: bold;
    text-align: center;
    color: #000;
}
.chad_title_bottom
{
    font-size: 40px;
    font-family: 'Inter';
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: #000;
}
.chad_reference_title_botton
{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: bold;
    font-style: italic;
    text-align: right;
    color: #000;
}
.chad_form_text
{   
    font-size: 12px;
    font-family: 'Inter';
    font-weight: normal;
    font-style: normal;
    text-align: left;
    color: #fff;
}
/*Editar Texto fim*/


/*Alinhar colunas e linhas inicio*/


/*Inicio containers e número de colunas*/
.container_chad, .two_collums, .three_collums
{
    margin: 0 auto;
    display: grid;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    background-color: #fff;
    border-radius: 0%;
    max-width: 800px;
    height:  100%;
    grid-template-columns: auto;
    column-gap: 200px;
    row-gap: 1px;
    padding: 5px;
    grid-template-rows: auto auto auto auto auto;
}
.one_collums{grid-template-columns: auto;}

.two_collums{grid-template-columns: auto auto;}

.three_collums{grid-template-columns: auto auto auto;}

/*Fim containers e número de colunas*/


.item_grid_chad_centered
{
    display: grid; /*Define como será seu layout*/
    place-items: center; /*como os elementos serão alinhados*/
    grid-column-start: 1;/*Ponto Onde a coluna começa*/
    grid-column-end: 3;/*Onde a coluna termina*/
}
.item_grid_chad_centered_for_right
{
    display: grid; /*Define como será seu layout*/
    place-items: center; /*como os elementos serão alinhados*/
    justify-items: right;
    grid-column-start: 1;/*Ponto Onde a coluna começa*/
    grid-column-end: 3;/*Onde a coluna termina*/
}
.item_grid_chad_centered_for_right_center, .chad_itens_align_end
{
    display: grid; /*Define como será seu layout*/
    place-items: center; /*como os elementos serão alinhados*/
    justify-items: right;
    grid-column-start: 1;/*Ponto Onde a coluna começa*/
    grid-column-end: 3;/*Onde a coluna termina*/
    padding-left: 210px;
    padding-right: 210px;
}
.item_grid_chad_centered_for_botton
{
    display: grid; /*Define como será seu layout*/
    place-items: center; /*como os elementos serão alinhados*/
    align-items: end;
    justify-items: center;
    grid-column-start: 1;/*Ponto Onde a coluna começa*/
    grid-column-end: 3;/*Onde a coluna termina*/
}

.item_grid_chad_left_itens_right
{
    display: grid; /*Define como será seu layout*/
    place-items: center; /*Onde os elementos estarão*/
    justify-items: right; /*como os elementos serão alinhados*/
    grid-column-start: 1;/*Ponto Onde a coluna começa*/
    grid-column-end: 2;/*Ponto Onde a coluna termina*/
}
.item_grid_chad_left_itens_left
{
    display: grid;
    place-items: center;
    justify-items: left;
    grid-column-start: 1;
    grid-column-end: 2;
}
.item_grid_chad_right_itens_right
{
    display: grid;
    place-items: center;
    justify-items: right;
    grid-column-start: 2;
    grid-column-end: 3;
}

.item_grid_chad_right_itens_left
{
    display: grid; /*Define como será seu layout*/
    place-items: center; /*Onde os elementos estarão*/
    justify-items: left; /*como os elementos serão alinhados*/
    grid-column-start: 2;/*Ponto Onde a coluna começa*/
    grid-column-end: 3;/*Ponto Onde a coluna termina*/
}
.chad_align_element_grid_centered_left
{
    justify-self: start;
    align-self: center;
}
.chad_itens_align_center{align-items: center;}
.chad_itens_align_end{align-items: baseline;}
/*Alinhar colunas e linhas fim*/


.chad_box
{
    width: 500px;
    height: 500px;
    background-color: #6d6d6d;
    border-radius: 6px;
    display: block;
    padding: 1.25rem;
}