body, html
{
    height: 100%;
}

.back_chad_left
{
    background-position-x: left;
}
.background_img
{
    background-image: url("../Assets/chad_ground.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.back_chad_right
{
    background-position-x: right;
}
.ajust_container_chad 
{
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    background-color: white;
    border-radius: 0%;
    max-width: 800px;
    height:  100%;
}
.chad_button_opition
{
    background-color: #6d6d6d;
    border: none;
    border-radius: 10px;
    width: 168px;
    height: 57px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 20px;
}
.chad_button_opition:hover
{
    background-color: #fff;
    border: 1px solid #6d6d6d;
    color: black;
}

/*Biblioteca_pessoal_de_alinhamento de elementos*/
